@font-face {
  font-family: "Raleway", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;800&display=swap");
}

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

body {
  background-color: #ecf0ef;
}

#navigation {
  background-color: #c1ddd8;
  border-style: solid;
  border-width: 3px 3px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

#logo {
  display: flex;
  height: 75%;
  max-width: auto;
}

.nav-links ul li {
  list-style-type: none;
  display: inline-block;
}

ul li a {
  font-weight: 900;
  font-size: 24px;
  color: black;
  display: flex;
  justify-content: left;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 20px 20px;
  text-decoration: none;
}

ul li a:hover {
  background-color: white;
  text-decoration: underline;
}

nav #icon {
  display: none;
}

#footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  padding: 20px 0px;
  margin-top: 40px;
  background-color: #c8c8c8;
  color: black;
}

#footer div {
  text-align: center;
}

.footer-logo {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 120px;
}

.icons {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  font-size: 24px;
  padding: 10px;
}

.fa {
  color: black;
}

.FooterText {
  display: flex;
  justify-content: center;
  font-weight: 700;
  padding: 5px;
}

#contact-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: space-between;
}

.contact-image {
  max-width: 100%;
  height: auto;
}

#contact-form {
  border: 2px black solid;
  border-radius: 20px;
  background-color: #c1ddd8;
  padding: 15px;
  width: 450px;
  height: 600px;
  margin: 20px 20px;
}

#form-container {
  display: flex;
  width: 100%;
  height: auto;
}

input[type="text"],
select,
textarea {
  width: 100%;
  resize: none;
  margin: 10px 0px;
}

input[type="submit"] {
  background: #ddc1c9;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 20px;
  padding: 10px;
  text-shadow: none;
  float: right;
}

input[type="submit"]:hover {
  background: #c8c8c8;
  color: #fff;
  border: 1px solid #eee;
  border-radius: 15px;
  text-shadow: none;
  float: right;
}

@media (max-width: 800px) {
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    display: block;
    position: absolute;
    background-color: #c1ddd8;
    border-style: solid;
    border-width: 3px 3px;
    height: 60%;
    width: 200px;
    top: 0px;
    right: 0px;
    transition: 1s;
  }
  #logo {
    height: 60%;
  }
  nav #icon {
    display: block;
    color: black;
    font-size: 22px;
    margin-top: 10px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
  }
  #contact-container {
    flex-direction: column;
  }
  .contact-image {
    width: auto;
  }
  #form-container {
    align-items: center;
    justify-content: center;
  }
  #contact-form {
    margin: 10px;
    justify-content: center;
  }
}
